version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: nokWasNotSecureEnough0_o
      POSTGRES_DB: appsec
    ports:
      - "5432:5432"
    restart: unless-stopped
    networks:
      - app-network

  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    ports:
      - "1025:1025"
      - "8025:8025"
    environment:
      MP_MAX_MESSAGES: 5000
    restart: unless-stopped
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: backend:latest
    container_name: backend
    restart: unless-stopped
    profiles: ["fullstack"]
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/appsec
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: nokWasNotSecureEnough0_o
      SPRING_MAIL_HOST: mailpit
      SPRING_MAIL_PORT: 1025
      RECAPTCHA_SECRET_KEY: ${RECAPTCHA_SECRET_KEY}
    depends_on:
      - postgres
      - mailpit
    networks:
      - app-network
    volumes:
      - ./uploads:/app/uploads

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: frontend:latest
    container_name: frontend
    restart: unless-stopped
    profiles: ["fullstack"]
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge