services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=appsec'
      - 'POSTGRES_PASSWORD=nok'
      - 'POSTGRES_USER=user'
    ports:
      - '5432:5432'

  mailpit:
    image: 'axllent/mailpit'
    container_name: mailpit
    restart: unless-stopped
    ports:
      - "1025:1025"
      - "8025:8025"